// Header contacts

.header-contacts {
  display: flex;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-direction: column;
    justify-content: space-between;
  }
  // @media screen and (min-width: 1200px) {
  //   display: flex;
  // }

  &__item:not(:last-child) {
    @media screen and (min-width: 1199px) {
      margin-right: 50px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-bottom: 10px;
    }

    // @media screen and (min-width: 768px) and (max-width: 1199px) {
    //   margin: 0;
    // }
  }

  &__item {
    display: flex;
    align-items: center;
    color: var(--primary-text-color);
  }
  &__link:hover,
  &__link:focus {
    color: var(--accent-color);
    cursor: pointer;
  }

  &__link {
    display: flex;
    // padding-top: 32px;
    // padding-bottom: 32px;
    align-items: center;
    color: currentColor;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__icon {
    fill: currentColor;
    margin-right: 10px;
  }
}

// Footer contacts
.footer {
  &__contacts {
    display: inline-block;
    margin-top: 9px;
    color: var(--opasity-light-color);
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__contacts:hover,
  &__contacts:focus {
    color: var(--accent-color);
  }
}
