/* Portfolio page styles */
.portfolio {
  &-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  /* Portfolio filter */

  &-filter {
    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
      justify-content: start;
      margin-bottom: 35px;
    }

    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    &__button {
      @media screen and (max-width: 767px) {
        margin-bottom: 15px;
      }

      display: block;
      padding: 6px 22px;
      border-color: transparent;
      border-radius: 4px;

      font-family: inherit;
      color: var(--title-text-color);
      background-color: var(--second-background-color);
      font-weight: 500;
      font-size: 16px;
      line-height: 1.62;
      /* identical to box height, or 162% */
      text-align: center;
      letter-spacing: 0.03em;
      cursor: pointer;

      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__button:hover,
    &__button:focus {
      color: var(--primary-white-color);
      background-color: var(--accent-color);
      /* shadow-middle */
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }

    &__item:not(:last-child) {
      margin-right: 8px;
    }
  }
  /* Portfolio set */

  &-container {
    margin-bottom: -30px;
  }
  &-list {
    @media screen and (max-width: 767px) {
      display: block;
      margin-top: -15px;
      margin-bottom: -15px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      margin: -15px;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      flex-wrap: wrap;
    }
  }
  &-list img {
    width: 100%;
  }
  &-item {
    @media screen and (max-width: 767px) {
      width: 450px;
      margin: 15px auto;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: 354px;

      margin: 15px;
    }
    @media screen and (min-width: 1200px) {
      width: 370px;
      margin-bottom: 30px;
    }
  }
  &-item:not(:nth-child(3n)) {
    @media screen and (min-width: 1200px) {
      margin-right: 30px;
    }
    background: var(--primary-white-color);
  }

  /* .portfolio-item:nth-last-of-type(-n + 3) {
  margin-bottom: 0;
} */

  &-thumb {
    display: block;

    position: relative;
    overflow: hidden;
  }

  &-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 24px;

    background-color: var(--port-overlay-color);

    font-size: 18px;
    line-height: 1.56;
    color: var(--primary-white-color);

    transform: translateY(100%);
    opacity: 0;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &-link:hover,
  &-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &-link:hover .portfolio-overlay {
    transform: translateY(0);
    opacity: 1;
  }
  &-link {
    display: block;
    text-decoration: none;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &__title {
      display: block;
      margin-bottom: 4px;

      color: var(--title-text-color);
      font-weight: bold;
      font-size: 18px;
      line-height: 2;
      /* identical to box height, or 200% */
      letter-spacing: 0.06em;
    }
    &__label {
      height: 150px;
      padding: 20px 24px;

      border-right: 1px solid var(--border-color);
      border-bottom: 1px solid var(--border-color);
      border-left: 1px solid var(--border-color);

      color: var(--primary-text-color);
      font-size: 16px;
      line-height: 1.87;
      /* identical to box height, or 187% */
      letter-spacing: 0.03em;
    }
  }
}
