/* Team */
.team {
  &-section {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
      padding-top: 94px;
      padding-bottom: 94px;
    }

    background-color: var(--second-background-color);
  }

  &-list {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.19;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;

    @media screen and (max-width: 767px) {
      display: block;
      margin-top: -15px;
      margin-bottom: -15px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      margin: -15px;
    }
  }

  &-member {
    @media screen and (max-width: 767px) {
      width: 450px;
      margin: 15px auto;
    }
    @media screen and (min-width: 767px) and (max-width: 1199px) {
      width: 350px;
      margin: 15px;
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
      margin: 15px;
    }

    background: #ffffff;
    /* material shadow v1 */

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &-member img {
    width: 100%;
  }
  &-member__title {
    color: var(--title-text-color);
    font-size: 16px;
    font-weight: 500;

    margin-bottom: 10px;
  }
  &-member__text {
    padding: 30px 30px;
  }
}
.social-links {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.social-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.social-item:not(:last-child) {
  margin-right: 10px;
}
.social-link-icon {
  fill: currentColor;
}
